.listPage {
  display: flex;
  height: 100px;

  .listContainer {
    flex: 3;

    .wrapper {
      padding-right: 50px;
    }
  }

  .mapContainer {
    flex: 2;
    background-color: #fcf5f3;
  }
}
